<!DOCTYPE html>
<html ng-app="zoiew">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
		<script src="../ionic/js/ionic.bundle.js"></script>
		<script src="../js/angular-ui-router.js"></script>
		<link rel="stylesheet" href="../ionic/css/ionic.css">
	</head>
	<style>
		html,
		body {
			width: 100%;
			height: 100%;
		}
	</style>

	<body>
		<!--header部分-->
		<ion-header-bar align-title="center" no-tap-scroll="false" class="bar-positive">
			<div class="buttons">
				<button class="button" ng-click="doSomething()">Left Button</button>
			</div>
			<h1 class="title">笑话大全</h1>
			<div class="buttons">
				<button class="button">Right Button</button>
			</div>
		</ion-header-bar>
		<!--中间内容部分-->

		<ion-content>
			<div class="bar bar-header">
				<div class="h1 title">卡片</div>
			</div>

			<div class="content has-header">

				<div class="list card">

					<div class="item item-avatar">
						<img src="http://www.runoob.com/try/demo_source/mcfly.jpg">
						<h2>Marty McFly</h2>
						<p>November 05, 1955</p>
					</div>

					<div class="item item-body">
						<img class="full-image" src="http://www.runoob.com/try/demo_source/delorean.jpg">
						<p>
							菜鸟教程 -- 学的不仅是技术，更新梦想！<br> 菜鸟教程 -- 学的不仅是技术，更新梦想！<br> 菜鸟教程 -- 学的不仅是技术，更新梦想！<br> 菜鸟教程 -- 学的不仅是技术，更新梦想！
						</p>
						<p>
							<a href="#" class="subdued">1 喜欢</a>
							<a href="#" class="subdued">5 评论</a>
						</p>
					</div>

					<div class="item tabs tabs-secondary tabs-icon-left">
						<a class="tab-item" href="#">
							<i class="icon ion-thumbsup"></i> 喜欢
						</a>
						<a class="tab-item" href="#">
							<i class="icon ion-chatbox"></i> 评论
						</a>
						<a class="tab-item" href="#">
							<i class="icon ion-share"></i> 分享
						</a>
					</div>
				</div>
		</ion-content>
		<!--图片卡片2-->
		<div class="bar bar-header">
			<div class="h1 title">卡片</div>
		</div>

		<div class="content has-header ionic-pseudo">

			<div class="list card">

				<div class="item item-avatar">
					<img src="http://www.runoob.com/try/demo_source/nin_logo.jpeg">
					<h2>Pretty Hate Machine</h2>
					<p>Nine Inch Nails</p>
				</div>

				<div class="item item-image">
					<img src="http://www.runoob.com/try/demo_source/41D5vU4I1NL.jpg">
				</div>

				<a class="item item-icon-left assertive" href="#">
					<i class="icon ion-music-note"></i> Start listening
				</a>

			</div>

		</div>

		<!--footer部分-->
		<ion-footer-bar align-title="center" class="bar-assertive">
			<div class="buttons">
				<button class="button">Left Button</button>
			</div>
			<h1 class="title">Title!</h1>
			<div class="buttons" ng-click="doSomething()">
				<button class="button">Right Button</button>
			</div>
		</ion-footer-bar>

	</body>
	<script>
		var app = angular.module('zoiew', ['ionic']);
		app.controller('$indexCtrl', function() {

		})
	</script>

</html>