<!DOCTYPE html>
<html ng-app="zoiew">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
		<script src="../ionic/js/ionic.bundle.js"></script>
		<script src="../js/angular-ui-router.js"></script>
		<link rel="stylesheet" href="../ionic/css/ionic.css">
	</head>
	<style>
		html,
		body {
			width: 100%;
			height: 100%;
		}
	</style>

	<body>
		<!--header部分-->
		<ion-header-bar align-title="center" no-tap-scroll="false" class="bar-positive">
			<div class="buttons">
				<button class="button" ng-click="doSomething()">Left Button</button>
			</div>
			<h1 class="title">笑话大全</h1>
			<div class="buttons">
				<button class="button">Right Button</button>
			</div>
		</ion-header-bar>
		<!--中间内容部分-->

		<ion-content>
			<div class="bar bar-header">
				<div class="h1 title">预输入标签</div>
			</div>

			<div class="content has-header">
				<div class="list">
					<label class="item item-input">
          <input type="text" placeholder="First Name">
        </label>
					<label class="item item-input">
          <input type="text" placeholder="Last Name">
        </label>
					<label class="item item-input">
          <textarea placeholder="Comments"></textarea>
        </label>
				</div>
				<div class="padding">
					<button class="button button-block button-positive">Submit</button>
				</div>
			</div>

			<!--输入框2-->

			<div class="bar bar-header">
				<div class="h1 title">内联标签</div>
			</div>

			<div class="content has-header">
				<div class="list">
					<label class="item item-input">
          <span class="input-label">用户名：</span>
          <input type="text">
        </label>
					<label class="item item-input">
          <span class="input-label">密码：</span>
          <input type="password">
        </label>
				</div>
				<div class="padding">
					<button class="button button-block button-positive">登录</button>
				</div>
				<ion-content>
					<div class="bar bar-header">
						<div class="h1 title">堆叠标签</div>
					</div>

					<div class="content has-header">
						<div class="list">
							<label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="John">
        </label>
							<label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Suhr">
        </label>
							<label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="john@suhr.com">
        </label>
						</div>
						<div class="padding">
							<button class="button button-block button-positive">Create Account</button>
						</div>
					</div>
				</ion-content>

		</ion-content>
		<br />

		<!--footer部分-->
		<ion-footer-bar align-title="center" class="bar-assertive">
			<div class="buttons">
				<button class="button">Left Button</button>
			</div>
			<h1 class="title">Title!</h1>
			<div class="buttons" ng-click="doSomething()">
				<button class="button">Right Button</button>
			</div>
		</ion-footer-bar>

	</body>
	<script>
		var app = angular.module('zoiew', ['ionic']);
		app.controller('$indexCtrl', function() {

		})
	</script>

</html>